:root {
    // --component clr
    --bg-clr: hsl(233, 47%, 7%);
    --card-bg-clr: hsl(244, 38%, 16%);

    // --txt clr
    --head-txt-clr: hsl(0, 0%, 100%);
    --sub-txt-clr: hsla(0, 0%, 100%, 0.6);
    --stat-txt-clr: hsla(0, 0%, 100%, 0.75);
    --accent-clr: hsl(277, 64%, 61%);

    // --links
    --txt-clr: hsl(0, 0%, 100%);
    --link-clr: hsl(277, 64%, 61%);
}